@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 40px;
}
.container {
    background-color: skyblue;
    max-width: 840px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.flex {
    display: flex;
    justify-content: space-evenly;
}
ul li {
    padding: 10px 2px;
}
li a {
    text-decoration: none;
    color: inherit;
}
table {
    margin: 0 auto;
}
h1 {
    text-align: center;
    letter-spacing: 1px;
}
h2 {
    margin-top: 30px;
    margin-bottom: -10px;
}
a {
    font-weight: bold;
    font-size: 16px;
}
td {
    width: 150px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    background-color: aliceblue;
    font-size: 20px;
}
.final td {
    background-color: #84e7af;
    font-size: 22px;
}
